.footer {
    /* max-width: 1440px; */
    width: 100%;
    background-color: #FFC754;
    /* height: 280px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.footer__project-wrapepr {
    display: flex;
    max-width: 900px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    gap: 50px;
    margin-left: 6%;
}

.footer__project {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
}



.footer__project-header {
    margin-top: 27px;
    margin-bottom: 27px;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.015em;
}

.footer__project-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    font-weight: 400;
    gap: 7px;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.015em;
}

.footer__project-list-item {
    margin: 0;
    padding: 0;
    /* display: inline; */
    list-style-type: none;
}

.footer__contact-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 4%;
    align-self: flex-start;
    max-width: 250px;
    width: 100%;
}

.footer__contact-us-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.015em;
    display: flex;

}

.footer__contact-us-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    max-width: 250px;
    width: 100%;
}

.footer__contact-us-image {
    width: 21px;
    display: flex;
}

.footer__contact-us-email {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.015em;
}

.header__nav-button {
    display: none;
}

.header__mobile-nav {
    display: none;
}

@media screen and (max-width: 1015px) {
    .footer__project-wrapepr {
        flex-wrap: wrap;
        gap: 0;
    }
    
    .footer__project {
        max-width: 200px;
    }

    .footer__project-header {
        font-size: 16px;
    }

    .footer__project-list {
        font-size: 14px;
    }

    .footer__contact-us {
        max-width: 250px;
        width: 100%;
        margin-right: 3%;
    }

    .footer__contact-us-text {
        font-size: 16px;
    }

    .footer__contact-us-wrapper {
        font-size: 14px;
    }

    .footer__contact-us-email {
        font-size: 14px;
    }
}

@media screen and (max-width: 951px) {
    .footer__project:last-of-type {
        margin-top: -125px;
    }
}

@media screen and (max-width: 731px) {
    .footer{
        flex-direction: column;
        max-width: 731px;
    }

    .footer__project-wrapepr {
        flex-direction: column;
        max-width: 731px;
        width: auto;
        align-self: start;
        margin-left: 3%;
    }
    
    .footer__contact-us {
        margin-right: 0;
        margin-left: 3%;
    }


    .footer__project:last-of-type {
        margin-top: 0;
    }

}