.about-us-page {
/*  max-width: 1440px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  border: blue solid 1px;*/
}

.about-us-page--header {
/*  flex: 1 1 auto;*/
}
.about-us-page--about-us-slogan-personal-list {
}
.about-us-page--footer {
}
