h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

.about_slogan {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 22px 0px 0px 0px;
 /* border: solid green 1px;*/
}

.about_slogan__slogan {
  display: flex;
  flex-direction: column;
}
.about_slogan__title {
 position: relative;
}

.about_slogan__title-1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 93px;
  line-height: 113px;
  letter-spacing: 0.015em;
  padding: 0px;
  margin: 0px;
  text-align: center;
  overflow: hidden;

  background: linear-gradient(90deg, #6852D9 9.11%, #38A1FF 39.41%, #FFC754 69.7%, #F46A14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_slogan__title-1-shadow {
  /*font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 93px;
  line-height: 113px;
  letter-spacing: 0.015em;
  padding: 0px;
  margin: 0px;
  text-align: center;

  color: #EFEFEF;*/
  background: #EFEFEF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  z-index: -1;

  right: -8px;
  bottom: 16px;

}

.about_slogan__title-2 {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.015em;
  padding: 69px 0px 60px 0px;
  margin: 0px;
  overflow: hidden;
  
}

.about_slogan__text-container {
/*  max-width: 1200px;*/
/*  width: 100%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  /*border: solid green 1px;*/
}

.about_slogan__text {
  max-width: 385px;
  width: 100%;
  padding-top: 20px;
  
}

.about_slogan__text-p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  margin-left: 10px;

  /* or 26px */
  letter-spacing: 0.015em;  
/*  border: solid green 1px;*/
}

.about_slogan__list-title {
  max-width: 387px;
  padding-top: 20px;
}

.about__slogan-wrapp {
  display: flex;
  position: absolute;
  top: -480px;
  right: 0px;
  overflow: hidden;
  max-width: 350px;
  height: 485px;
}


@media screen and (max-width: 1440px) {
  .about_slogan {
  /*  width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;*/
    padding: 45px 0px 0px 0px;
  /* border: solid green 1px;*/
  }

  .about_slogan__slogan {
/*    display: flex;
    flex-direction: column;*/
  }
  
  .about_slogan__title {
/*    position: relative;*/
  }

  .about_slogan__title-1 {
  /*  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;*/
    font-size: 54px;
    line-height: 66px;
    letter-spacing: 0.015em;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
  
    background: linear-gradient(90deg, #6852D9 9.11%, #38A1FF 39.41%, #FFC754 69.7%, #F46A14 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .about_slogan__title-1-shadow {
  /*  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 93px;
    line-height: 113px;
    letter-spacing: 0.015em;
    padding: 0px;
    margin: 0px;
    text-align: center;
  
    color: #EFEFEF;*/

    background: #EFEFEF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  
    position: absolute;
    z-index: -1;
  
    right: -4px;
    bottom: 10px;
  
  }
   
  .about_slogan__text-container {
  /*  max-width: 1200px;*/
  /*  width: 100%;*/
  /*  display: flex;
    flex-direction: row;*/
    justify-content: center;
    /*align-items: flex-start;*/
    /*flex-wrap: wrap;*/
    gap: 26px;
  
    /*border: solid green 1px;*/
  }
  
  .about_slogan__text {
    max-width: 320px;
    width: 100%;
    padding-top: 0px;
  }

  .about_slogan__text-right {
    max-width: 302px;
  }
  
  .about_slogan__text-p {
  /*  font-family: 'Montserrat';
    font-style: normal;*/
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-left: 0px;
  
    /* or 26px */
    letter-spacing: 0.015em;  
    /*border: solid green 1px;*/
  }
   
  .about_slogan__title-2 {
    /*text-align: center;
    font-weight: 500;*/
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.015em;
    padding: 40px 0px 56px 0px;
   /* margin: 0px;
    overflow: hidden;*/
    
  }
}

@media screen and (max-width: 768px) {
  .about_slogan {
  /*  width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;*/
    padding: 90px 0px 42px 0px;
/*   border: solid green 1px;*/
  }
  
  .about_slogan__slogan {
/*    display: flex;
    flex-direction: column;*/
  }

  .about_slogan__title {
/*    position: relative;*/
    max-width: 375px;
    width: 100%;
    /*border: solid green 1px;*/
  }

  .about_slogan__title-1 {
  /*  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;*/
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.015em;
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    overflow: hidden;

    background: linear-gradient(90deg, #6852D9 9.11%, #38A1FF 39.41%, #FFC754 69.7%, #F46A14 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about_slogan__title-1-shadow {
  /*  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 93px;
    line-height: 113px;
    letter-spacing: 0.015em;
    padding: 0px;
    margin: 0px;
    text-align: center;
  
    color: #EFEFEF;*/

    background: #EFEFEF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    position: absolute;
    z-index: -1;
  
    right: -6px;
    bottom: 7px;
    
  
  }
   
  .about_slogan__text-container {
  /*  width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
  
  .about_slogan__text {
    max-width: 280px;
    width: 100%;
    padding-top: 0px;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }

  .about_slogan__text-right {
    max-width: 300px;
    width: 100%;
    adding-top: 0px;
    padding-top: 10px;

  }
  
  .about_slogan__text-p {
  /*  font-family: 'Montserrat';
    font-style: normal;*/
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-left: 0px;
  
    /* or 26px */
    letter-spacing: 0.015em;  
    /*border: solid green 1px;*/
  }
   
  .about_slogan__title-2 {
    /*text-align: center;
    font-weight: 500;*/
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.015em;
    padding: 40px 0px 0px 0px;
   /* margin: 0px;
    overflow: hidden;*/
    
  }
}