.header-elipse {
    /* padding-top: 20px; */
 /*   max-width: 1440px;*/
    width: 100%;
    display: flex;
    flex-direction: row;
/*    align-items: flex-start;
    justify-content: flex-start;*/

    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
/*    position: relative;*/
    padding: 0px 0px 0px 0px;
/*    border: green solid 1px;*/
}
/*
.header-elipse__logo {
  display: flex;
}
.header-elipse__logo-pad {
  display: none;
}
.header-elipse__logo-mob {
  display: none;
}
*/
.header-elipse__logo-Link {
    cursor: pointer;
    max-width: 52px;
    padding: 0px 0px 0px 0px;
}

.header-elipse__nav-wrapper {
    max-width: 1093px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 17px 0px 0px 165px;
/*    border: green solid 1px;*/
}

.header-elipse__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #1D1D1D;
/*    border: green solid 1px;*/
}

.header-elipse__nav-link {
  width: 129px;
  height: 52px;
  border-radius: 0px 0px 19px 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
/*  background: red;*/
/*  border: green solid 1px;*/
}

.header-elipsemain__nav-link-main:hover {
  background: #F46A14;
  color: rgba(255, 255, 255, 1);
}

.header-elipsemain__nav-link-about:hover {
  background: rgba(97, 151, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.header-elipsemain__nav-link-cases:hover {
  background: rgba(104, 82, 217, 1);
  color: rgba(255, 255, 255, 1);
}


.header-elipse__elipse-wrapp {
/*    position: absolute;
    z-index: 3;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    overflow: hidden;
    max-width: 350px;
    width: 100%;
  }
  
  .header-elipse__elipse-desk {
    display: flex;

  }

  .header-elipse__elipse-pad {
    display: none;
  }

  
  .header-elipse__nav-menu-wrapper-mob {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .header-elipse__nav-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  
@media screen and (max-width: 1439px) {
  .header-elipse {
    /* padding-top: 20px; */
/*    max-width: 768px;*/
/*    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;*/
/*    padding-bottom: 45px;*/
/*    overflow: hidden;
    position: relative;*/

}

.header-elipse__logo-Link {
/*    cursor: pointer;*/
    padding: 0px 0px 0px 0px;
}
/*
.header-elipse__logo {
  display: none;
}
.header-elipse__logo-pad {
  display: flex;
}
.header-elipse__logo-mob {
  display: none;
}
*/

.header-elipse__nav-wrapper {
    max-width: 768px;
/*    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
/*    text-align: center;
    vertical-align: middle;
    align-items: center;*/
    padding: 16px 0px 0px 60px;
}

.header-elipse__nav {
/*    display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    gap: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #1D1D1D;
    align-items: center;
    justify-content: flex-start;

}

.header-elipse__nav-link {
  width: 100px;
  height: 52px;
  border-radius: 0px 0px 19px 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0px 0px 0px 0px;

/*  text-decoration: none;*/
}

.header-elipsemain__nav-link-main:hover {
  background: #F46A14;
  color: rgba(255, 255, 255, 1);
}

.header-elipsemain__nav-link-about:hover {
  background: rgba(97, 151, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.header-elipsemain__nav-link-cases:hover {
  background: rgba(104, 82, 217, 1);
  color: rgba(255, 255, 255, 1);
}



.header-elipse__elipse-wrapp {
/*    position: absolute;
    z-index: -3;*/
    display: flex;
    top: 0px;
    right: 10px;
    overflow: hidden;
    max-width: 207px;
/*    width: 100%;*/
  }
  
  .header-elipse__elipse-desk {
    display: none;
  }
  .header-elipse__elipse-pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-elipse__nav-menu-wrapper-mob {
    display: none;
  }

  .header-elipse__nav-menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

}

@media screen and (max-width: 767px) {
  .header-elipse__nav-wrapper {

    width: 100%;
    padding: 16px 0px 0px 20px;
}


  .header-elipse__elipse-wrapp {
    display: none;
  }
  
  .header-elipse__elipse {
  }

  .header-elipse__elipse-desk {
    display: none;
  }

  .header-elipse__elipse-pad {
    display: none;
  }


}

@media screen and (max-width: 600px) {

.header-elipse__nav-menu-button {
  border: none;
  background-color: transparent;
  padding: 0px 38px 0px 0px;
  cursor: pointer;
}

.header-elipse__nav-open {
  border: none;
  background-color: transparent;
}
/*
.header-elipse__nav-close {
  border: none;
  background-color: transparent;
}
*/

.header-elipse__nav-menu-wrapper-mob {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
/*  border: red solid 1px;*/
}

.header-elipse__nav-menu-wrapper {
  display: none;
}

.header-elipse {
    /* padding-top: 20px; */
/*    max-width: 375px;*/
/*    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;*/
    padding: 0px 0px 0px 0px;
/*    border: green solid 1px;*/
}
/*
.header-elipse__logo {
  display: none;
}
.header-elipse__logo-pad {
  display: none;
}
.header-elipse__logo-mob {
  display: flex;
}
*/


.header-elipse__logo-Link {
    cursor: pointer;
    max-width: 52px;
    padding: 0px 0px 0px 0px;
}

.header-elipse__nav-wrapper {
/*    max-width: 375px;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0px 0px 25px;
    position: fixed;
    z-index: 6;
    background-color: white;
/*    border: green solid 1px;*/
  /*  position: relative;
    z-index: -1;*/
}

.header-elipse__nav {
    display: none;
   /* flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    /*transform: translateX(100%);*/
    /*transition: all 1s;*/
    /*position: absolute;
    z-index: 8;
    right: 0px;
    top: 50px;*/
}

.header-elipse__nav-mob-hid {
  width: 209px;
  display: flex;
  position: absolute;
  top: 60px;
  z-index: 8;
  overflow-x: hidden;
}

.header-elipse__nav-mob {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}

.header-elipse__nav-link {
  width: 209px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 19px 0px 0px 19px;
  padding: 0px 0px 0px 17px;
  text-decoration: none;
  color: #FFFFFF;
}

.header-elipse__elipse-wrapp {
/*    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    overflow: hidden;
    max-width: 350px;
    width: 100%;
  */
    display: none;
  }
  
  .header-elipse__elipse {
  }

  .header-elipse__elipse-desk {
    display: none;
  }

  .header-elipse__elipse-pad {
    display: none;
  }

}
